.section-1 {
    height: auto;
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    grid-template-rows: auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
    
    
}

.section-2 {
    height: 70vh;
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    grid-template-rows: auto;
    margin-bottom: 10vh;
    
}

.section-3 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    margin-bottom: 10vh;
    
}

.section-4 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 10vh;
    
}

footer {
    border-top: 2px solid rgba(255, 255, 255, 0.6);;
    text-align: center;
    padding: 5px;
    margin-top: 10%;
   
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;

    padding: 1em;
    
    color: rgba(255, 255, 255, 0.6);

    
}


.card {

    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 30px;
    margin: 5%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    min-height: 70vh;
    
}

.card-tall {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 30px;
    margin: 5%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    min-height: 70vh;
    
    
}

.card-flex {
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 30px;
    margin: 5%;
    height: 60vh;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    
}

.card p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 1em;
    color: rgba(255, 255, 255, 0.6);
    
}

.card h2 {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 2em;

    margin-top: 0;

    padding: 1em;
    padding-left: 0.6em;
    padding-bottom: 0.3em;
    
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden
}

.card-flex img {
    display: block;
    margin: auto;
    height: 80%;
    border-radius: 30px;
    overflow: hidden
}

/*
.card img {
    display: block;
    position: relative;
    margin: auto;
    height: 80%;
    border-radius: 30px;
    text-align: center;
}

*/

@media (width <= 50rem) {

    .section-1 {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10vh;
        margin-top: 10vh;
        overflow: hidden
        
    }
    
    .section-2 {
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10vh;
        overflow: hidden
    }
    
    .section-3 {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        
        margin-bottom: 10vh;
        overflow: hidden
    }
    
    .section-4 {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10vh;
        overflow: hidden
    }
}