.register-interest {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 12vh;

    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    height: 8vh;
    width: 16vw;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;

    text-align: center;
}

.register-interest:hover{
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.5s;
}

.view-figma {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 7vh;

    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.6);;
    border-radius: 30px;
    height: 5vh;
    width: 15vw;

    color: rgba(255, 255, 255, 0.6);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;

    text-align: center;

    margin-left: 1em;
}

.view-figma:hover{
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.5s;
}

.view-github {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3vh;

    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.6);;
    border-radius: 30px;
    height: 5vh;
    width: 15vw;

    color: rgba(255, 255, 255, 0.6);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;

    text-align: center;

    margin-left: 1em;
}

.view-github:hover{
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.5s;
}

.fillout-form{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 6vh;

    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.6);;
    border-radius: 30px;
    height: 5vh;
    width: 15vw;

    color: rgba(255, 255, 255, 0.6);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;

    text-align: center;

    margin-left: 1em;
}

.fillout-form:hover{
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.5s;
}