.navbar{
    position: fixed;
    top: 0;

    height: 8%;
    max-height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;

    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: saturate(150%) blur(15px);
    background-blend-mode: difference;

    z-index: 1;
}

.navbar-links{
    display: block;
    position: relative;
    float: right;
    
    /*Styling*/
    width: 50%;

    /*Remove styling*/
    list-style-type: none;
    overflow: hidden;
}

.navbar-links li {
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
    
    float: right;
    overflow: hidden;
}

.mobile-content {
    text-align: center;
    margin-top: 10%;
}

#mobile-only {
    display: none;
}


.mobile-links{
    display: block;
    
    /*Styling*/
    

    /*Remove styling*/
    list-style-type: none;
    overflow: hidden;

    margin-top: 20%;
    
    
}

.mobile-links li {
    padding-left: 3%;
    padding-right: 3%;
    
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.mobile-link {
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    height: fit-content;
    width: 90%;
    padding: 1.5%;
    margin-bottom: 1em;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
}




.logo {
    max-height: 80%;
}

.navbar-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-decoration: underline;
    
}

.le-hamburger {
    display: none;
    background-color: unset;
    border: unset;
}

@media (width <= 60rem) {
    .navbar{
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
    }

    .navbar-links{
        display: none;
    }

    .le-hamburger{
        display: inline;
    }
}