/*

background-color: rgba(255, 255, 255, 0.02);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
border-radius: 30px;
*/


.main-content {
    display: block;
    padding: 3%;
    
}

.grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 70vh;
}

.grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 70vh;
}

.grid-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70vh;
}

.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
}

.card {
    display: block;
    background-color: rgba(255, 255, 255, 0.02);
    margin: 1.5em;
    border-radius: 30px;
    position: relative;
}

.card p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin: 3%
}

.card h2 {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 3%
}



footer {
    border-top: 2px solid rgba(255, 255, 255, 0.6);;
    text-align: center;
    padding: 5px;
    margin-top: 10%;
   
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;

    padding: 1em;
    
    color: rgba(255, 255, 255, 0.6);

    
}


@media (width <= 60rem) {
    .grid-1-2 {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .grid-2-1 {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .grid-1-1-1 {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .grid-1-1 {
        grid-template-columns: 1fr;
        height: fit-content
    }
}